.carousel-inner {
    --bs-gutter-x: 0rem;
}

.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}

.carousel-image {
    height: 500px; 
    width: auto; 
}

/* title */
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

/* special */ 
.special-list .btn{
    padding: 8px 20px!important;
}

.special-img {
    height: 150px;
}

.special-img img{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 120px;
    width: auto;
}

.special-img:hover img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

/* newsletter */
#newsletter p{
    max-width: 600px;
}
#newsletter .input-group{
    max-width: 500px;
}
#newsletter .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

/* media queries */
@media (max-width: 768px) {
    .carousel-image {
        height: 300px; 
        width: auto; 
    }
}

@media (max-width: 576px) {
    .carousel-image {
        height: 180px; 
        width: auto; 
    }
    .carousel-inner h1{
        font-size: 30px;
        font-family: var(--lg-font);
    }
}


