{% extends 'base.html' %}
{% load static %}
{% load filtros %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'vendas/css/carrinho.css' %}" rel="stylesheet">
{% endblock %}


{% block 'body' %}     
    
{% if carrinho %}
<section class="h-100">
  <div class="container h-100 py-5">
    <div class="mb-3">
      <a href="{% url 'home' %}" class="custom-link"><i class="fa fa-arrow-left" aria-hidden="true"></i> Continuar comprando</a>
    </div>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="h5 text-center">Item</th>
                <th scope="col" class="text-center">Nome</th>
                <th scope="col">Quantidade</th>
                <th scope="col" class="text-center">Total</th>
                <th scope="col" class="text-center">Remover</th>
              </tr>
            </thead>
            <tbody>
              {% for produto in carrinho %}
              <tr>
                <th scope="row">
                  <div class=" imagem_carrinho d-flex justify-content-center align-items-center">
                      {% if produto.imagem_principal %}
                          <img src="{{produto.imagem_principal.url}}" alt="Imagem_produto">
                      {% else %}
                          <img src="{% static 'produtos\img\sem foto.jpg' %}" alt="Imagem_produto">
                      {% endif %}
                  </div>
                </th>

                <td class="align-middle text-center">
                  <div class="flex-column">
                      <p>{{ produto.nome }}</p>
                    </div>
                </td>
                
                <td class="align-middle text-center">
                  <div class="d-flex flex-row">
                    <a href="{% url 'remover_do_carrinho' produto.id %}">
                    <button class="btn btn-link px-2 me-1">
                      <i class="fas fa-minus"></i>
                    </button>
                  </a>

                    <form action="{% url 'adicionar_quantidade_no_carrinho'%}" method="POST" class="form-control form-control-sm p-0" style="width: 50px;"> {% csrf_token %} 
                      <input placeholder="{{request.session.carrinho|get_item:produto.id}}"  name="quantidade_{{produto.id}}" class="text-center h-100 w-100">
                    </form>

                      <a href="{% url 'adicionar_ao_carrinho' produto.id %}">
                    <button class="btn btn-link px-2 ms-1">
                      <i class="fas fa-plus"></i>
                    </button>
                  </a>
                  </div>
                </td>
 
                <td class="align-middle text-center">
                  <p class="mb-0" style="font-weight: 500;">R$ {{request.session.carrinho|get_item:produto.id|multiply_item:produto.preco}}</p>
                </td>

                <td class="align-middle text-center">
                  <a href="{% url 'excluir_do_carrinho' produto.id %}" class="lixeira"><i class="fas fa-trash fa-lg"></i></a>
                </td>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
        </div>

          <div class="container d-flex mt-5 mb-5 justify-content-center">
            <form class="input-group" action="{% url 'validar_cupom' %}" method="POST" style="width: 70%;">{% csrf_token %}
              <div class = "input-group mb-3 mt-3">
                  <input type = "text" name="codigo" class = "form-control" placeholder="Cupom de desconto:">
                  <button class = "btn"  type = "submit"><i class = "fa fa-search"></i></button>
              </div>
            </form>
          </div>

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="h5">Resumo</th>
                  <th scope="col" class="h5 align-middle text-end">Total</th>
                </tr>
              </thead>
              <tbody>
              <tr>
                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 500;">{{request.session.carrinho|total_itens}} itens</p>
                </td>
                  <td class="align-middle text-end">
                    <p class="mb-0" style="font-weight: 500;">R$ {{request.session.total}}</p>
                  </td>
                </tr>

                {% if request.session.cupom %}
                  <tr>
                    <td class="align-middle">
                      <p class="mb-0" style="font-weight: 500;">Cupom de desconto 
                        <a href="{% url 'retirar_cupom_da_session'%}"><i class="fa fa-times-circle text-danger"></i></a>
                      </p>
                    </td>
                    <td class="align-middle text-end">
                        <p class="mb-0" style="font-weight: 500;">
                          {{request.session.cupom|get_cupom_type:'desconto'}} 
                        </p>
                    </td>
                  </tr>
                {% endif %}

                  <tr>
                    <td class="align-middle">
                      <p class="mb-0" style="font-weight: 500;">Frete</p>
                    </td>
                      <td class="align-middle text-end">
                        <p class="mb-0" style="font-weight: 500;">R$ frete</p>
                      </td>
                    </tr>

                    <tr>
                      <td class="align-middle">
                        <p class="mb-0" style="font-weight: 500;">TOTAL</p>
                      </td>
                      {% if request.session.cupom %}
                        <td class="align-middle text-end">
                          <p class="mb-0" style="font-weight: 500;">R$ {{request.session.total_com_desconto}}</p>
                        </td>
                        </tr>
                      {% else %}
                        <td class="align-middle text-end">
                          <p class="mb-0" style="font-weight: 500;">R$ {{request.session.total}}</p>
                        </td>
                        </tr>
                      {% endif%}
              </tbody>
            </table>
        </div>
      </div>
      <a class="btn mt-2" href="{% url 'checkout' %}" role="button">Finalizar a compra</a>
    </div>
  </div>
</section>
    
{% else %}
  <div class="container text-center my-5">
    <p>O carrinho está vazio.</p>
    <a class="btn mt-2" href="{% url 'home' %}" role="button">Começar as compras!</a>
  </div>
{% endif %}



{% endblock %}
