{% extends 'base.html' %}
{% load static %}
{% load filtros %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'produtos/css/listar_produtos.css' %}" rel="stylesheet">
{% endblock %}


{% block 'body' %}
    <h1>Carrinho de Compras</h1>

    {% if carrinho %}
        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Total</th>
                    <th>Subtrair</th>
                    <th>Adicionar</th>
                    <th>Inserir Quantidade</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in carrinho %}
                    <tr>
                        <td>{{ produto.nome }}</td>
                        <td>R$ {{ produto.preco }}</td>
                        <td>{{request.session.carrinho|get_item:produto.id}}</td>
                        <td>{{request.session.carrinho|get_item:produto.id|multiply_item:produto.preco}}</td>
                        <td><a href="{% url 'remover_do_carrinho' produto.id %}">Menos</a></td>
                        <td><a href="{% url 'adicionar_ao_carrinho' produto.id %}">Mais</a></td>
                        <td><form action="{% url 'adicionar_quantidade_no_carrinho'%}" method="POST"> {% csrf_token %} 
                            <input type="number" placeholder="Digite a quantidade"  name="quantidade_{{produto.id}}" min="1">
                            <input type="submit" value="Alterar" class="btn btn-primary">
                        </td>
                        <td><a href="{% url 'excluir_do_carrinho' produto.id %}">Excluir</a></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">Total:</td>
                    <td>R$ {{ total }}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p>O carrinho está vazio.</p>
    {% endif %}
{% endblock %}
