{% extends 'base.html' %}
{% load static %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'produtos/css/listar_produtos.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

    <div class="row">
        {% for produto in carrinho.produtos.all %}
            {{produto}}
        {% endfor %}
    </div>

    <br>
    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'esvaziar_carrinho' %}" role="button">Esvaziar Carrinho</a>

{% endblock %}