.sidebar a {
    text-decoration: none; 
    color: #fff;
}

.sidebar a:hover {
    color: var(--pink); 
}

.cadastro {
    width: 80%
}

.cadastro label{
    display: block;
}

.cadastro input{
    width: 100%
}


/* media queries */
@media (max-width: 576px) {
    .sidebar {
        text-align: center;
    }
}