.card{border: none;overflow: hidden}

.thumbnail_images ul{list-style: none;justify-content: center;display: flex;align-items: center;margin-top:10px}

.thumbnail_images ul li{margin: 5px;padding: 10px;border: 2px solid #eee;cursor: pointer;transition: all 0.5s}

.thumbnail_images ul li:hover{border: 2px solid #000}

.main_image{display: flex;justify-content: center;align-items: center;border-bottom: 1px solid #eee;height: 400px;width: 100%;overflow: hidden}

.content p{font-size: 12px}

.ratings span{font-size: 14px;margin-left: 12px}

.right-side{position: relative}

.comment{
    margin-right: 20px;
    margin-left: 20px; 
    margin-bottom: 30px;
}

.head{
    margin-bottom: 10px;
}

.user{
    margin-right: 10px;
}

.testo_comentario{
    word-wrap: break-word;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: red;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

/* special */ 
.special-list .btn{
    padding: 8px 20px!important;
}

.special-img {
    height: 150px;
}

.special-img img{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 120px;
    width: auto;
}

.special-img:hover img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}









