{% extends 'base.html' %}
{% load static %}
{% load filtros %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="#" rel="stylesheet">
{% endblock %}

{% block 'body' %}

    {% if messages %}
        {% for message in messages %}
            <section class="alert {{message.tags}}">
                {{message}}
            </section>
        {% endfor %}
    {% endif %}


    <form action="#" method="GET"> {% csrf_token %} 
        <div class="row">
            
                <div class="col-md-5">
                    <input type="text" placeholder="Busque pelo nome" class="form-control" name="nome">
                </div>

                <div class="col-md-4">
                    <select class="form-select" name="categoria">
                        <option value="" disabled selected hidden>Escolha uma categoria</option>
                        {% for categoria in categorias %}
                            <option value="{{categoria.id}}">{{categoria}} </option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <label>Preço menor que:</label>
                    <input type="text" id="preco_menor_filtrar" name="preco_menor_filtrar">

                    <label> Preço maior que:</label>
                    <input type="text" id="preco_maior_filtrar" name="preco_maior_filtrar">
                </div>

                <div>
                    <label>Preço de custo menor que:</label>
                    <input type="text" id="preco_de_custo_menor_filtrar" name="preco_de_custo_menor_filtrar">

                    <label> Preço de custo maior que:</label>
                    <input type="text" id="preco_de_custo_maior_filtrar" name="preco_de_custo_maior_filtrar">
                </div>

                <input type="text" placeholder="Busque pela marca"  name="marca">

                <input type="text" placeholder="Busque pela cor"  name="cor">

                <div>
                    <label> Quantidade menor que:</label>
                    <input type="text" name="quantidade_menor_filtrar">

                    <label> Quantidade maior que:</label>
                    <input type="text" name="quantidade_maior_filtrar">
                </div>
            
            <div class="col-md-3">
                <input type="submit" value="FILTRAR" class="btn btn-primary">
            </div>
        </div>
    </form>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Foto</th>
        <th scope="col">Nome</th>
        <th scope="col">Categoria</th>
        <th scope="col"> Quantidade</th>
        <th scope="col"> Marca</th>
        <th scope="col"> Cor</th>
        <th scope="col"> Preço de custo</th>
        <th scope="col"> Preço</th>
        <th scope="col">Editar</th>
        <th scope="col">Remover</th>
      </tr>
    </thead>

    <tbody>
        {% for produto in produtos_paginados %}
            <tr>
                <th scope="row">{{ produto.id }}</th>
                <td><a href="{% url 'detalhes_produto' produto.id %}">
                        <img src="{{ produto.foto.url }}" width="80" height="80"></td>
                    </a>
                <td>{{ produto.nome}}</td>
                <td>{{ produto.categoria}}</td>
                <td>{{ produto.quantidade}}</td> 
                <td>{{ produto.marca}}</td>
                <td>{{ produto.cor}}</td>
                <td>{{ produto.preco_de_custo}}</td>
                <td>{{ produto.preco}}</td>
                <td><a href="{% url 'alterar_produto' produto.id %}">Alterar</a></td>
                <td><a href="{% url 'excluir_produto' produto.id %}">Remover</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    {% if produtos_paginados.has_previous %}
        <a href="?{% param_replace page=1 %}">First</a>
        {% if produtos_paginados.previous_page_number != 1 %}
            <a href="?{% param_replace page=produtos_paginados.previous_page_number %}">Previous</a>
        {% endif %}
    {% endif %}

    Page {{ produtos_paginados.number }} of {{ paginator.num_pages }} 

    {% if produtos_paginados.has_next %}
        {% if produtos_paginados.next_page_number != paginator.num_pages %}
            <a href="?{% param_replace page=produtos_paginados.next_page_number %}">Next</a>
        {% endif %}
        <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
    {% endif %}

    <p>Objects {{ produtos_paginados.start_index }}—{{ produtos_paginados.end_index }}</p>
    
</div> 

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    
    <script> 
        $(document).ready(function(){
          $('#preco_menor_filtrar').mask('000000,00', {reverse: true});
          $('#preco_maior_filtrar').mask('000000,00', {reverse: true});
          $('#preco_de_custo_menor_filtrar').mask('000000,00', {reverse: true});
          $('#preco_de_custo_maior_filtrar').mask('000000,00', {reverse: true});


        });

    </script>
{% endblock %}