{% extends 'base.html' %}
{% load static %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'usuarios/css/criar_gestor.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

    <form action="{%url 'salvar_gestor'%}" method="POST" > {%csrf_token%}
        <label>Email:</label>
        <input type="email" class="form-control" name="email">

        <label>Senha provisória:</label>
        <input type="text" class="form-control" name="senha_provisoria" placeholder="Digite a senha provisória">

        <input type="submit" value="CADASTRAR" class="btn btn-success">

    </form>



{% endblock %}