{% extends 'base.html' %}
{% load static %}
{% load filtros %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'produtos/css/listar_produtos.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

<a class="btn btn-primary" href="{% url 'adm_estoque' %}" role="button">Gerenciar estoque</a>
<a class="btn btn-primary" href="{% url 'cadastrar_produto' %}" role="button">Cadastrar Produtos</a>
<a class="btn btn-primary" href="{% url 'listar_categorias' %}" role="button">Categorias</a>
<a class="btn btn-primary" href="{% url 'listar_usuarios' %}" role="button">Usuarios</a>
<a class="btn btn-primary" href="{% url 'produtos_home' %}" role="button">Produtos da homepage</a>
<a class="btn btn-primary" href="{% url 'gerenciar_banners' %}" role="button">Banners</a>

relatorios
    
    
{% endblock %}

{% block scripts %}
    
{% endblock %}