{% extends 'base.html' %}
{% load static %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'produtos/css/alterar_produto.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

    <div class="row">
        <div class="col-md-3">
          {% if produto.imagem_principal %}
          <img width="100%" src="{{produto.imagem_principal.url}}">
      {% else %}
          <img width="100%" src="{% static 'produtos\img\sem foto.jpg' %}">
      {% endif %}
        </div>
    </div>

    <br> 
    CADASTRADO EM: {{produto.data_cadastro|date:"d/m/Y" }} às {{ produto.data_cadastro|time:"H:i" }}
    <br>
    ATUALIZADO EM: {{produto.data_atualizacao|date:"d/m/Y" }} às {{ produto.data_atualizacao|time:"H:i" }}

    <div class="container">
        <br>
      <form action="{% url 'alterar_produto' produto.id %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

            <label>Nome do produto:</label>
            <input style="width: 40%;" class="form-control" type="texte" value="{{produto.nome}}" name="nome">
          </p>

          <label for="campo_descricao">Descricao:</label>
          <textarea id="campo_descricao" name="descricao" rows="4" cols="50">
            {{produto.descricao}}
          </textarea>

          <p> 
            <label for="preco_de_custo">Preço de Custo:</label>
            <input style="width: 40%;" class="form-control" id="preco_de_custo" type="texte"  value="{{produto.preco_de_custo}}" name="preco_de_custo">
          </p>
  
          <p> 
            <label>Preço:</label>
            <input style="width: 40%;" class="form-control" id="preco" type="texte"  value="{{produto.preco}}" name="preco">
          </p>
  
          <label>Categoria:</label>
          <select style="width: 20%;" class="form-control" name="categoria">
            <option value=''>Escolha uma categoria:</option>
            <option value=''>Sem categoria:</option>
            {% for categoria in categorias %}
              {% if produto.categoria.nome == categoria.nome %}
                <option value="{{categoria.id}}" selected>{{categoria}}</option>
              {% else %}
                <option value="{{categoria.id}}">{{categoria}}</option>
              {% endif %}
            {% endfor %}
            
          </select>
        <br>

        <p> 
          <label>Marca:</label>
          <input style="width: 40%;" class="form-control" type="texte"  value="{{produto.marca}}" name="marca" maxlength="50">
        </p>

        <p> 
          <label>Cor:</label>
          <input style="width: 40%;" class="form-control" type="texte"  value="{{produto.cor}}" name="cor" maxlength="30">
        </p>

        <p> 
          <label>Quantidade:</label>
          <input style="width: 40%;" class="form-control" type="number"  value="{{produto.quantidade}}" name="quantidade">
        </p>

        <input type="submit" class="btn btn-success btn-lg" value="Alterar">

        </form>
    </div> 

    <br>
    <br>
    <br>

    <div class="container">
      <form action="{% url 'atualizar_especificacao' produto.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form_especificacao.media}}
        {{form_especificacao.as_table}}
        <input type="submit" class="btn btn-success btn-lg" value="Alterar">
      </form>
    </div> 

    <br>
    <br>
    <br>

  <div>
    Alteração de imagens:
    <form action="{% url 'alterar_imagem_principal' produto.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
      <p>
        <label>Imagem principal:</label>
      <input type="file" name="imagem_principal">
      </p>
      <input type="submit" class="btn btn-success btn-lg" value="Alterar">
    </form>

    <br>

    <form action="{% url 'incluir_imagens' produto.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
      <p>
        <label>Incluir outras imagens:</label>
      <input type="file" name="imagens" multiple>
      </p>
      <input type="submit" class="btn btn-success btn-lg" value="Incluir">
    </form>

  </div>
  
  <br>
  <br>

{% if produto.imagem_principal %}
  <div class="row">
    <p>Excluir imagens:</p>
    <div class="col-md">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
              <img width="100%" src="{{produto.imagem_principal.url}}">
              <a class="btn btn-danger" href="{% url 'excluir_imagem_principal' produto.id %}" role="button">Excluir</a>
          </div>
        </div>
    </div>
  </div>
  {% endif %}

<br>
<br>
{% if imagens %}
  <div class="row">
    <div class="col-md">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          {% for img in imagens %}
            <img width="100%" src="{{img.foto.url}}">
            <a class="btn btn-danger" href="{% url 'excluir_imagem' img.id produto.id %}" role="button">Excluir</a>
            <br>
            <br>
            <br>
          {% endfor %}
        </div>
      </div>
    </div>
  </div> 
{% endif %} 

{% endblock %} 

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    
    <script> 
        $(document).ready(function(){
          $('#preco_de_custo').mask('000000,00', {reverse: true});
          $('#preco').mask('000000,00', {reverse: true});

        });

    </script>
{% endblock %}