{% extends 'base.html' %}
{% load static %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'produtos/css/alterar_produto.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

    {% if messages %}
        {% for message in messages %}
            <section class="alert {{message.tags}}">
                {{message}}
            </section>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-md-3">
            <img width="100%" src="{{produto.foto.url}}">
        </div>
    </div>

    <br> 
    CADASTRADO EM: {{produto.data_cadastro|date:"d/m/Y" }} às {{ produto.data_cadastro|time:"H:i" }}
    <br>
    ATUALIZADO EM: {{produto.data_atualizacao|date:"d/m/Y" }} às {{ produto.data_atualizacao|time:"H:i" }}

    <div class="container">
        <br>
      <form action="{% url 'alterar_produto' produto.id %}" method="POST">
          {% csrf_token %}

            <label>Nome do produto:</label>
            <input style="width: 40%;" class="form-control" type="texte" value="{{produto.nome}}" name="nome">
          </p>

          <label for="campo_descricao">Descricao:</label>
          <textarea id="campo_descricao" name="descricao" rows="4" cols="50">
            {{produto.descricao}}
          </textarea>

          <p> 
            <label for="preco_de_custo">Preço de Custo:</label>
            <input style="width: 40%;" class="form-control" id="preco_de_custo" type="texte"  value="{{produto.preco_de_custo}}" name="preco_de_custo">
          </p>
  
          <p> 
            <label>Preço:</label>
            <input style="width: 40%;" class="form-control" id="preco" type="texte"  value="{{produto.preco}}" name="preco">
          </p>
  
          <label>Categoria:</label>
          <select style="width: 20%;" class="form-control" name="categoria">
            {% for categoria in categorias %}
            
              {% if produto.categoria.nome == categoria.nome %}
                <option value="{{categoria.id}}" selected>{{categoria}}</option>
              {% else %}
  
                <option value="{{categoria.id}}">{{categoria}}</option>
              {% endif%}
            {% endfor %}
            
          </select>
        <br>

        <p> 
          <label>Marca:</label>
          <input style="width: 40%;" class="form-control" type="texte"  value="{{produto.marca}}" name="marca">
        </p>

        <p> 
          <label>Cor:</label>
          <input style="width: 40%;" class="form-control" type="texte"  value="{{produto.cor}}" name="cor">
        </p>

        <p> 
          <label>Quantidade:</label>
          <input style="width: 40%;" class="form-control" type="number"  value="{{produto.quantidade}}" name="quantidade">
        </p>

          <input type="submit" class="btn btn-success btn-lg" value="Alterar">

        </form>
    </div> 

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    
    <script> 
        $(document).ready(function(){
          $('#preco_de_custo').mask('000000,00', {reverse: true});
          $('#preco').mask('000000,00', {reverse: true});

        });

    </script>
{% endblock %}