{% extends 'base.html' %}
{% load static %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'produtos/css/cadastrar_produto.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

    <form action="{% url 'cadastrar_produto' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
      <table>
        {{form.media}}
        {{form.as_table}}
        {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
        {% endif %}
      </table>
      
      <input class="btn btn-success" type="submit" value="Enviar">
    </form>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    
    <script> 
        $(document).ready(function(){
          $('#id_preco_de_custo').mask('000000,00', {reverse: true});
          $('#id_preco').mask('000000,00', {reverse: true});
          $('#id_altura').mask('000,00', {reverse: true});
          $('#id_largura').mask('000,00', {reverse: true});
          $('#id_profundidade').mask('000,00', {reverse: true});
          $('#id_peso').mask('000,00', {reverse: true});

        });

    </script>
{% endblock %}

