{% extends 'base.html' %}
{% load static %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'produtos/css/cadastrar_produto.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

    {% if messages %}
        {% for message in messages %}
            <section class="alert {{message.tags}}">
                {{message}}
            </section>
        {% endfor %}
    {% endif %}

    <div class="wrapper">
        <form action="{% url 'cadastrar_produto' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <table>
            {{form.as_table}}
            {{ form.non_field_errors }}
        </table>
        <input class="btn btn-success" type="submit" value="Enviar">
        </form>
    </div>
{% endblock %}