{% extends 'base.html' %}
{% load static %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'produtos/css/listar_categorias.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

    <h2 class="titulo">Categorias</h2>
    
    <form action="#" method="GET"> {% csrf_token %} 
        <div class="row">
            
        <div class="col-md-5">
            <input type="text" placeholder="Busque pelo nome" class="form-control" name="nome">
        </div>
    
        <div class="col-md-3">
            <input type="submit" value="FILTRAR" class="btn btn-primary">
        </div>
        </div>
    </form>
    
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Excluir</th>
          </tr>
        </thead>
    
        <tbody>
            {% for categoria in categorias %}
                <tr>
                    <td>{{categoria.nome}}</td> 
                    <td><a href="{% url 'excluir_categoria' categoria.id %}">Excluir</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    

{% endblock %}