{% extends 'base.html' %}
{% load static %}
{% load filtros %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'produtos/css/listar_produtos.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}
    <form action="#" method="GET"> 
        <div class="row">
                <div class="col-md-5">
                    <input type="text" placeholder="Busque pelo nome" class="form-control" name="nome">
                </div>

                <div class="col-md-4">
                    <select class="form-select" name="categoria">
                        <option value="" disabled selected hidden>Escolha uma categoria</option>
                        {% for categoria in categorias %}
                            <option value="{{categoria.id}}">{{categoria}} </option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <label>Menor que:</label>
                    <input type="text" name="preco_menor_filtrar">

                    <label> Maior que:</label>
                    <input type="text" name="preco_maior_filtrar">
                </div>

                <input type="text" placeholder="Busque pela marca"  name="marca">

                <input type="text" placeholder="Busque pela cor"  name="cor">

                <select class="form-select" aria-label="Default select example" name="ordenacao">
                    <option value="" disabled selected hidden>Ordenar por:</option>
                    <option value="maior">Maior preço</option>
                    <option value="menor">Menor preço</option>
                </select>
            
            <div class="col-md-3">
                <input type="submit" value="FILTRAR" class="btn btn-primary">
            </div>
        </div>
    </form>
        
        <br>
        <br>

    <div class="row">
        {% for produto in produtos_paginados %} 
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <a href="{% url 'ver_produto' produto.id %}" class="links">
                            {% if produto.imagem_principal %}
                                <img width="100%" src="{{produto.imagem_principal.url}}">
                            {% else %}
                                <img width="100%" src="{% static 'produtos\img\sem foto.jpg' %}">
                            {% endif %}
                            <h5 class="card-title">{{produto.nome}}</h5>
                            <div class="preco"> {{produto.preco}} </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    TOTAL: {{total_produtos}}


    <div class="pagination">
        {% if produtos_paginados.has_previous %}
        <a class="pagination-action" href="?{% param_replace page=1 %}">
            <i class='fa fa-angle-double-left' aria-hidden="true"></i> </a>
        <a class="pagination-action" href="?{% param_replace page=produtos_paginados.previous_page_number %}">
            <i class='fa fa-arrow-left' aria-hidden="true"></i>
        </a>
        {% endif %}
        {% for num in produtos_paginados.paginator.page_range %}
            {% if produtos_paginados.number == num %}
                <span class="pagination-number pagination-current">{{ num }}</span>
            {% elif num > produtos_paginados.number|add:'-3' and num < produtos_paginados.number|add:'3' %}
                <a class="pagination-number" href="?{% param_replace page=num %}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if produtos_paginados.has_next %}
            <a class="pagination-action" href="?{% param_replace page=produtos_paginados.next_page_number %}">
                <i class='fa fa-arrow-right' aria-hidden="true"></i>
            </a>
            <a class="pagination-action" href="?{% param_replace page=produtos_paginados.paginator.num_pages %}" >        
                <i class='fa fa-angle-double-right' aria-hidden="true"></i>
            </a>
        {% endif %}
    </div>


    
{% endblock %}