{% extends 'base.html' %}
{% load static %}
{% load filtros %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'produtos/css/listar_produtos.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}
            
        <form action="#" method="GET"> {% csrf_token %} 
            <div class="row">
                
                    <div class="col-md-5">
                        <input type="text" placeholder="Busque pelo nome" class="form-control" name="nome">
                    </div>

                    <div class="col-md-4">
                        <select class="form-select" name="categoria">
                            <option value="" disabled selected hidden>Escolha uma categoria</option>
                            {% for categoria in categorias %}
                                <option value="{{categoria.id}}">{{categoria}} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div>
                        <label>Menor que:</label>
                        <input type="text" name="preco_menor_filtrar">

                        <label> Maior que:</label>
                        <input type="text" name="preco_maior_filtrar">
                    </div>

                    <input type="text" placeholder="Busque pela marca"  name="marca">

                    <input type="text" placeholder="Busque pela cor"  name="cor">

                    <select class="form-select" aria-label="Default select example" name="ordenacao">
                        <option value="" disabled selected hidden>Ordenar por:</option>
                        <option value="maior">Maior preço</option>
                        <option value="menor">Menor preço</option>
                    </select>
                
                <div class="col-md-3">
                    <input type="submit" value="FILTRAR" class="btn btn-primary">
                </div>
            </div>
        </form>
        
        <br>
        <br>

    <div class="row">
        {% for produto in produtos_paginados %} 
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <a href="{% url 'ver_produto' produto.id %}" class="links">
                            {% if produto.imagem_principal %}
                                <img width="100%" src="{{produto.imagem_principal.url}}">
                            {% else %}
                                <img width="100%" src="{% static 'produtos\img\sem foto.jpg' %}">
                            {% endif %}
                            <h5 class="card-title">{{produto.nome}}</h5>
                            <div class="preco"> {{produto.preco}} </div>
                            <a class="btn btn-danger" href="{% url 'excluir_produto' produto.id %}" role="button">Excluir</a>
                            <a class="btn btn-warning" href="{% url 'alterar_produto' produto.id %}" role="button">Alterar</a>
                        </a>
                    </div>
                </div>
            </div>
        
        {% endfor %}

    </div>

    <div class="pagination">
        {% if produtos_paginados.has_previous %}
            <a href="?{% param_replace page=1 %}">First</a>
            {% if produtos_paginados.previous_page_number != 1 %}
                <a href="?{% param_replace page=produtos_paginados.previous_page_number %}">Previous</a>
            {% endif %}
        {% endif %}

        Page {{ produtos_paginados.number }} of {{ paginator.num_pages }} 

        {% if produtos_paginados.has_next %}
            {% if produtos_paginados.next_page_number != paginator.num_pages %}
                <a href="?{% param_replace page=produtos_paginados.next_page_number %}">Next</a>
            {% endif %}
            <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
        {% endif %}

        <p>Objects {{ produtos_paginados.start_index }}—{{ produtos_paginados.end_index }}</p>
        
    </div> 

    
{% endblock %}