{% extends 'base.html' %}
{% load static %}
{% load filtros %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'produtos/css/listar_produtos.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}
    <form action="#" method="GET"> 
        <div class="row">
                <div class="col-md-5">
                    <input type="text" placeholder="Busque pelo nome" class="form-control" name="nome">
                </div>

                <div class="col-md-4">
                    <select class="form-select" name="categoria">
                        <option value="" disabled selected hidden>Escolha uma categoria</option>
                        {% for categoria in categorias %}
                            <option value="{{categoria.id}}">{{categoria}} </option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <label>Menor que:</label>
                    <input type="text" name="preco_menor_filtrar">

                    <label> Maior que:</label>
                    <input type="text" name="preco_maior_filtrar">
                </div>

                <input type="text" placeholder="Busque pela marca"  name="marca">

                <input type="text" placeholder="Busque pela cor"  name="cor">

                <select class="form-select" aria-label="Default select example" name="ordenacao">
                    <option value="" disabled selected hidden>Ordenar por:</option>
                    <option value="maior">Maior preço</option>
                    <option value="menor">Menor preço</option>
                </select>
            
            <div class="col-md-3">
                <input type="submit" value="FILTRAR" class="btn btn-primary">
            </div>
        </div>
    </form>
        
        <br>
        <br>

    

<!-- produtos -->
<section class = "py-5">
    <div class = "container">
        <div class = "title text-center py-5">
            <h2 class = "position-relative d-inline-block">Resultados: {{total_produtos}}</h2>
        </div>

        <div class = "special-list row g-0">
            {% for produto in produtos_paginados %}
            <div class = "col-md-6 col-lg-4 col-xl-3 p-2">
                <a href="{% url 'ver_produto' produto.id %}">
                <div class = "special-img d-flex justify-content-center align-items-center p-2 border-start border-end border-top border-2 rounded-top">
                    {% if produto.produto.imagem_principal %}
                        <img src="{{produto.imagem_principal.url}}" >
                    {% else %}
                        <img src="{% static 'produtos\img\sem foto.jpg' %}" >
                    {% endif %}
                </a>
                </div>
                <div class = "text-center ps-3 pe-3 pb-3 pt-1 border-start border-end border-bottom border-2 rounded-end">
                    <p class = "text-capitalize mb-1 d-flex justify-content-center align-items-center" style="height: 50px;">{{produto.nome}}</p>
                    <span class = "fw-bold d-block">$ {{produto.preco}}</span>
                    <a href ="{% url 'ver_produto' produto.id %}" class = "btn mt-2">Comprar</a>
                </div>
            </div>
        
            {% endfor %}
        </div>
    </div>
</section>
<!-- fim dos produtos -->

    

    {% if total_produtos > 3 %}
        <div class="pagination">
            {% if produtos_paginados.has_previous %}
            <a class="pagination-action" href="?{% param_replace page=1 %}">
                <i class='fa fa-angle-double-left' aria-hidden="true"></i> </a>
            <a class="pagination-action" href="?{% param_replace page=produtos_paginados.previous_page_number %}">
                <i class='fa fa-arrow-left' aria-hidden="true"></i>
            </a>
            {% endif %}
            {% for num in produtos_paginados.paginator.page_range %}
                {% if produtos_paginados.number == num %}
                    <span class="pagination-number pagination-current">{{ num }}</span>
                {% elif num > produtos_paginados.number|add:'-3' and num < produtos_paginados.number|add:'3' %}
                    <a class="pagination-number" href="?{% param_replace page=num %}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if produtos_paginados.has_next %}
                <a class="pagination-action" href="?{% param_replace page=produtos_paginados.next_page_number %}">
                    <i class='fa fa-arrow-right' aria-hidden="true"></i>
                </a>
                <a class="pagination-action" href="?{% param_replace page=produtos_paginados.paginator.num_pages %}" >        
                    <i class='fa fa-angle-double-right' aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
    {% endif %}

    
{% endblock %}