{% extends 'base.html' %}
{% load static %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'produtos/css/teste.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}


<div class="container-fluid d-sm-flex align-items-stretch px-0">
  <nav class="sidebar bg-dark">
  <div class="p-4">
    <h1 class="m-0 text-white">Menu</h1>
    <hr class="mt-0 mb-4 text-white">
    <ul class="list-unstyled mb-2">
    <li class="my-3">
    <a href="#"><span class="fa fa-user mr-3"></span> Perfil</a>
    </li>
    <li class="my-3">
    <a href="#"><span class="fa fa-envelope mr-3"></span> Meus pedidos</a>
    </li>
    <li class="my-3">
    <a href="#"><span class="fa fa-spinner mr-3"></span> Atualizar Cadastro</a>
    </li>
    <li class="my-3">
    <a href="#"><span class="fa fa-power-off mr-3"></span> Sair</a>
    </li>
    </ul>
  </div>
  </nav>
  
  <div class="conteudo p-4 p-md-5 pt-5 w-100">
    <form action="#" class="p-3 w-100 border" method="POST">{% csrf_token %}
      <label>Nome do produto:</label>
      <input  class="form-control" type="text" maxlength="40"  name="nome">
    </p>
    <p> 
      <label for="preco_de_custo">Preço de Custo:</label>
      <input class="form-control" id="preco_de_custo" type="texte"   name="preco_de_custo">
    </p>
    <p> 
      <label>Preço:</label>
      <input  class="form-control" id="preco" type="texte"   name="preco">
    </p>
        <div class="text-center my-3">
            <button class="btn px-5" type="submit">Enviar</button>
        </div>
    </form>
  </div>
</div>

    
  

  

{% endblock %} 

{% block scripts %}
    
{% endblock %}