<nav class="navbar navbar-light navbar-expand-md py-3">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
            <span class="d-flex justify-content-center align-items-center bs-icon-sm bs-icon-rounded bs-icon-primary me-2 bs-icon">
                <img src="{% static 'base\img\shopping-bag-icon.png' %}" alt="site icon">
            </span>
            <span>
                <span class="text-uppercase fw-lighter ms-2">
                    Pytudo
                </span>
            </span>
        </a>
        <button data-bs-toggle="collapse" data-bs-target="#navcol-2" class="navbar-toggler">
            <span class="visually-hidden">
                Toggle navigation
            </span>
            <span class="navbar-toggler-icon">

            </span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-2">
                <form class="d-flex" action="{% url 'listar_produtos' %}" method="GET" style="width: 450px;margin-left: 15px;">
                    <input class="form-control form-control form-control me-2" type="text" name="nome" placeholder="O que você procura?">
                </form>
                <a class="text-uppercase nav-link text-dark dropdown-toggle" id="categoriasDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:27px;"> 
                    Categorias 
                </a>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">

                    </li>
                    <li class="nav-item">

                    </li>
                    <li class="nav-item">

                    </li>
                </ul>
            </div>
            <div class="order-lg-2 nav-btns">
                <div class="dropdown">
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="PainelDropdown">
    {% if request.user.is_authenticated %}
    <li>
        <a href="{% url 'account_logout' %}">
            Deslogar
        </a>
    </li>
    {% else %}
    <li>
        <a href="{% url 'account_login' %}">
            Entrar
        </a>
    </li>
    {% endif %}
    <li>
        <a href="{% url 'painel_controle' %}">
            Painel de controle
        </a>
    </li>
</ul>
</div>
<button class="btn position-relative" type="button">
    <i class="fa fa-heart">

    </i>
    <a>
        <span class="badge bg-primary position-absolute top-0 start-100 translate-middle">
            2
        </span>
    </a>
</button>
<a>

</a>
<button class="btn position-relative" type="button">
    <a>
    </a><i class="fa fa-shopping-cart"></i><a>
        <span class="badge bg-primary position-absolute top-0 start-100 translate-middle">
            5
        </span>
    </a>
</button>
<button class="btn position-relative dropdown-toggle" id="PainelDropdown" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-address-card" aria-hidden="true"></i>
</button>
<a>
</a>
</div>
</div>
</nav>