{% extends 'base.html' %}
{% load static %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'produtos/css/ver_produto.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %} 

    <div class="row">
        <div class="col-md-3">
            {% if produto.imagem_principal %}
                <img width="100%" src="{{produto.imagem_principal.url}}">
            {% else %}
                <img width="100%" src="{% static 'produtos\img\sem foto.jpg' %}">
            {% endif %}
        </div>
        
        <br>
        <br>
        <br>

        <div>
            {% for imagem in imagens %}
                <img width="80" height="80" src="{{imagem.foto.url}}"> 
            {% endfor %}
        </div>

        <div class="col-md">
            <h1 class="titulo">{{produto.nome}}</h1>
            <p class="paragrafo">{{produto.descricao}}</p>
            <p class="paragrafo">{{produto.preco}}</p>
            {% if produto.categoria %}
                <p class="paragrafo">{{produto.categoria}}</p>
            {% endif %}
            <p class="paragrafo">{{produto.marca}}</p>
            <p class="paragrafo">{{produto.cor}}</p>
        </div>
    </div>

        <br>
        <br>

        <form action="{% url 'salvar_avaliacao' produto.id %}" method="POST"> {% csrf_token %}
            <label>Estrelas:</label>
            <select class="form-select" aria-label="Default select example" name="estrelas" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <textarea placeholder='Digite seu comentário'rows="5" cols="33" name="comentario"></textarea>
            <br>
            <input class="btn btn-success" type="submit" value="Salvar">
        </form>

        <br>
        <br>
        <br>
        <br>

        <a class="btn btn-warning" href="{% url 'adicionar_na_lista_desejo' produto.id %}" role="button">Lista de desejo</a>
        <br>
        <br>
        <br>
        <a class="btn btn-warning" href="{% url 'adicionar_ao_carrinho' produto.id %}" role="button">Carrinho</a>


        <br>
        <br>
        <br>
        <br>

        
        <div class="row">
            <div class="col-md-3">
                {% for avaliacao in avaliacoes %} 
                    Estrelas: {{avaliacao.estrelas}}
                    <br>
                    Comentário: {{avaliacao.comentario}}
                    <br>
                    Uusario: {{avaliacao.usuario.nome}}
                    <br>
                    Data da avaliação: {{avaliacao.data_avaliacao}}
                    <br>
                    Ultima atualização: {{avaliacao.data_atualizacao}}
                    <br>
                    <a class="btn btn-danger" href="{% url 'excluir_avaliacao' avaliacao.id produto.id %}" role="button">Excluir</a>
                    <br>
                    <br>
                {% endfor %}
            </div>
        </div>
        

   

{% endblock %}