{% extends 'base.html' %}
{% load static %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'produtos/css/ver_produto.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

    {% if messages %}
        {% for message in messages %}
            <section class="alert {{message.tags}}">
                {{message}}
            </section>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-md-3">
            <img width="100%" src="{{produto.foto.url}}">
        </div>

        <div class="col-md">
            <h1 class="titulo">{{produto.nome}}</h1>
            <p class="paragrafo">{{produto.descricao}}</p>
            <p class="paragrafo">{{produto.preco}}</p>
            <p class="paragrafo">{{produto.categoria}}</p>
        </div>
    </div>

        <br>
        <br>

        <form action="{% url 'salvar_avaliacao' produto.id %}" method="POST"> {% csrf_token %}
            <select class="form-select" aria-label="Default select example" name="estrelas">
                <option hidden="true">Estrelas</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <textarea placeholder='Digite seu comentário'rows="5" cols="33" name="comentario"></textarea>
            <br>
            <input class="btn btn-success" type="submit" value="Salvar">
        </form>

        <br>
        <br>

        <form action="{% url 'vender_produto' produto.id %}" method="POST"> {% csrf_token %}
            <label>Quantidade</label>
            <input class="form-control" type="number"  value="{{produto.quantidade}}" name="quantidade">
            <input class="btn btn-success" type="submit" value="Comprar">
        </form>

        <br>
        <br>
        <br>
        <br>

        <a class="btn btn-warning" href="{% url 'adicionar_no_carrinho' produto.id %}" role="button">Carrinho</a>

   

{% endblock %}