{% extends 'base.html' %}
{% load static %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'usuarios/css/perfil_usuario.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

<div class="container-fluid d-sm-flex align-items-stretch px-0">
  {% include "menu_usuario.html" %}
  
  <div class="container p-4">
    <div class="text-center mt-1">
      <h2>Histórico de Alterações:</h2>
    </div>
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Data</th>
          <th>Hora</th>
          <th>Informação</th>
        </tr>
        <tr>
          <td>{{usuario.usuario.date_joined|date:"d/m/Y" }}</td>
          <td>{{ usuario.usuario.date_joined|time:"H:i" }}</td>
          <td>Conta criada</td>
        </tr>
        {% for registro in registros %}
        <tr>
          <td>{{registro.data_atualizacao|date:"d/m/Y"}}</td>
          <td>{{registro.data_atualizacao|time:"H:i"}}</td>
          <td>{{registro.detalhes}}</td>
        </tr>
        {% endfor %}
      </table>
    </div> 
    <p><b>DATA DO ULTIMO LOGIN:</b> {{usuario.usuario.last_login|date:"d/m/Y" }} às {{ usuario.usuario.last_login|time:"H:i" }}</p>
  </div>
</div>


{% endblock %} 
