{% extends 'base.html' %}
{% load static %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'usuarios/css/atualizar_usuario.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

    <div class="wrapper">
        <form action="{% url 'atualizar_usuario' usuario.id %}" method="POST">{% csrf_token %}
            <table>
                {{form.as_table}} 
                {{ form.non_field_errors }}
                
            </table>
        <input class="btn btn-success" type="submit" value="Enviar">
        </form>
    </div>
    
    
    ATUALIZADO ULTIMA VEZ EM: {{usuario.data_atualizacao|date:"d/m/Y" }} às {{usuario.data_atualizacao|time:"H:i" }}

    

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    
    <script> 
        $(document).ready(function(){
            $('#id_cpf').mask('000.000.000-00', {reverse: true});
            $('#id_data_de_nascimento').mask('00/00/0000');
            var SPMaskBehavior = function (val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
              },
              spOptions = {
                onKeyPress: function(val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                  }
              };
              
              $('#id_celular').mask(SPMaskBehavior, spOptions);

        });

    </script>
{% endblock %}