{% extends 'base.html' %}
{% load static %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'usuarios/css/atualizar_usuario.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

    {% if messages %}
        {% for message in messages %}
            <section class="alert {{message.tags}}">
                {{message}}
            </section>
        {% endfor %}
    {% endif %}

    
            <form action="{% url 'atualizar_usuario' usuario.id %}" method="POST"> {% csrf_token %}
                <label>Nome:</label>
                <input style="width: 40%;" class="form-control" type="texte" value="{{usuario.nome}}" name="nome">
                <br>

                <label>celular:</label> 
                <input style="width: 40%;" class="form-control" id="celular" type="texte" value="{{usuario.celular.as_national}}" name="celular">
                <br>

                <label>endereco:</label>
                <input style="width: 40%;" class="form-control" type="texte" value="{{usuario.endereco}}" name="endereco">
                <br>

                <label>numero_endereco:</label>
                <input style="width: 40%;" class="form-control" type="texte" value="{{usuario.numero_endereco}}" name="numero_endereco">
                <br>

                <label>bairro:</label>
                <input style="width: 40%;" class="form-control" type="texte" value="{{usuario.bairro}}" name="bairro">
                <br>

                <label>cidade:</label>
                <input style="width: 40%;" class="form-control" type="texte" value="{{usuario.cidade}}" name="cidade">
                <br>

                <label>estado:</label>
                <input style="width: 40%;" class="form-control" type="texte" value="{{usuario.estado}}" name="estado">
                <br>

                <input type="submit" class="btn btn-success btn-lg" value="Alterar">
            </form>
    

            ATUALIZADO ULTIMA VEZ EM: {{usuario.data_atualizacao|date:"d/m/Y" }} às {{usuario.data_atualizacao|time:"H:i" }}

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    
    <script> 
        $(document).ready(function(){
            var SPMaskBehavior = function (val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
              },
              spOptions = {
                onKeyPress: function(val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                  }
              };
              
              $('#celular').mask(SPMaskBehavior, spOptions);

        });

    </script>
{% endblock %}