{% extends 'base.html' %}
{% load static %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'usuarios/css/perfil_usuario.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

<div class="container-fluid d-sm-flex align-items-stretch px-0">
  {% include "menu_usuario.html" %}
  
  <div class="container px-5 py-4">
    <div class="table-responsive">
      <table class="table">
          <tr>
            <td class="fw-bold">Nome</td>
            <td>{{usuario.nome}}</td>
          </tr>
          <tr>
            <td class="fw-bold">Usuário</td>
            <td>{{usuario.usuario}}</td>
          </tr>
          <tr>
            <td class="fw-bold">Celular</td>
            <td>{{usuario.celular.as_national}}</td>
          </tr>
          <tr>
            <td class="fw-bold">CPF</td>
            <td>{{usuario.cpf}}</td>
          </tr>
          <tr>
            <td class="fw-bold">Data de Nascimento</td>
            <td>{{usuario.data_de_nascimento|date:"d/m/Y"}}</td>
          </tr>
          <tr>
            <td class="fw-bold">Endereço</td>
            <td>{{usuario.endereco}}</td>
          </tr>
          <tr>
            <td class="fw-bold">Número</td>
            <td>{{usuario.numero_endereco}}</td>
          </tr>
          {% if usuario.complemento %}
          <tr>
            <td class="fw-bold">Complemento</td>
            <td>{{usuario.complemento}}</td>
          </tr>
          {% endif %}
          <tr>
            <td class="fw-bold">Bairro</td>
            <td>{{usuario.bairro}}</td>
          </tr>
          <tr>
            <td class="fw-bold">Cidade</td>
            <td>{{usuario.cidade}}</td>
          </tr>
          <tr>
            <td class="fw-bold">Estado</td>
            <td>{{usuario.get_estado_display}}</td>
          </tr>
      </table>
  </div>
  </div>
</div>


{% endblock %} 
