{% extends 'base.html' %}
{% load static %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
  <link href="{% static 'usuarios/css/perfil_usuario.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

<div class="container-fluid d-sm-flex align-items-stretch px-0">
  <nav class="sidebar bg-dark">
  <div class="p-4">
    <h1 class="m-0 text-white">Menu</h1>
    <hr class="mt-0 mb-4 text-white">
    <ul class="list-unstyled mb-2">
    <li class="my-3">
    <a href="{% url 'perfil_usuario' %}"><span class="fa fa-user mr-3"></span> Perfil</a>
    </li>
    <li class="my-3">
    <a href="{% url 'meus_pedidos' %}"><span class="fa fa-envelope mr-3"></span> Meus pedidos</a>
    </li>
    <li class="my-3">
    <a href="{% url 'usuario_atualiza_cadastro' %}"><span class="fa fa-spinner mr-3"></span> Atualizar Cadastro</a>
    </li>
    <li class="my-3">
    <a href="{% url 'alteracoes_usuario' %}"><span class="fa fa-history mr-3"></span> Histórico de Alterações</a>
    </li>
    <li class="my-3">
    <a href="{% url 'account_logout' %}"><span class="fa fa-power-off mr-3"></span> Sair</a>
    </li>
    </ul>
  </div>
  </nav>
  
  <div class="container px-5 py-4">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <td class="fw-bold">Número do Pedido</td>
          <td>{{pedido.id}}</td>
        </tr>
        <tr>
          <td class="fw-bold">Data da Compra</td>
          <td>{{pedido.data_pedido|date:"d/m/Y"}} às {{pedido.data_pedido|time:"H:i"}}</td>
        </tr>
        <tr>
          <td class="fw-bold">Valor Total</td>
          <td>R$ {{pedido.valor_total}}</td>
        </tr>
        <tr>
          <td class="fw-bold">Metodo de Pagamento</td>
          <td>{{pedido.metodo_de_pagamento}}</td>
        </tr>
        <tr>
          <td class="fw-bold">Quantidade de Parcelas</td>
          <td>{{pedido.parcelas}}</td>
        </tr>
        <tr>
          <td class="fw-bold">Status do Pagamento</td>
          <td>{{pedido.status}}</td>
        </tr>
        <tr>
          <td class="fw-bold">Data da última atualização</td>
          <td>{{pedido.data_ultima_atualizacao_pedido|date:"d/m/Y"}} às {{pedido.data_ultima_atualizacao_pedido|time:"H:i"}}</td>
        </tr>
     </table>
   </div>
    
    <div class="table-responsive">
      <table class="table table-striped border">
        <thead>
          <tr>
            <th scope="col">Produto</th>
            <th scope="col">Quantidade</th>
          </tr>
        </thead>

        <tbody>
          {% for item in itens %}
          <tr>
            <td>{{item.produto}}</td>
            <td>{{item.quantidade}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %} 
