{% extends 'base.html' %}
{% load static %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'usuarios/css/ver_usuario.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

    <div class="row">
        <div class="col-md">
            <h1 class="titulo">{{usuario.nome}}</h1>
            <p class="paragrafo">{{usuario.usuario}}</p>
            <p class="paragrafo">{{usuario.celular.as_national}}</p>
            <p class="paragrafo">{{usuario.cpf}}</p>
            <p class="paragrafo">{{usuario.data_de_nascimento|date:"d/m/Y"}}</p>
            <p class="paragrafo">{{usuario.endereco}}</p> 
            <p class="paragrafo">{{usuario.numero_endereco}}</p>
            {% if usuario.complemento %}
                <p class="paragrafo">{{usuario.complemento}}</p>
            {% endif %}
            <p class="paragrafo">{{usuario.bairro}}</p>
            <p class="paragrafo">{{usuario.cidade}}</p>
            <p class="paragrafo">{{usuario.get_estado_display}}</p>
            <p class="paragrafo">DATA DE CADASTRO: {{usuario.usuario.date_joined|date:"d/m/Y" }} às {{ usuario.usuario.date_joined|time:"H:i" }}</p>
            <p class="paragrafo">DATA DO ULTIMO LOGIN: {{usuario.usuario.last_login|date:"d/m/Y" }} às {{ usuario.usuario.last_login|time:"H:i" }} </p>
            <p class="paragrafo">ATUALIZADO EM: {{usuario.data_atualizacao|date:"d/m/Y" }} às {{usuario.data_atualizacao|time:"H:i" }}</p>
        </div>
    </div>

    <div>
        O QUE FOI ATUALIZADO:
        <br>
        {% for registro in registros %}
        {{registro.data_atualizacao}}
        <br>
        {{registro.detalhes}}
        <br>
        {% endfor %}
    </div>

{% endblock %}