{% extends 'base.html' %}
{% load static %}
{% load permission_tags %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
  <link href="{% static 'usuarios/css/perfil_usuario.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

<div class="container-fluid d-sm-flex align-items-stretch px-0">
  {% if request.user|has_role:"gerente" %}
    {% include "menu_gerente.html" %}
  {% else %}
    {% include "menu_usuario.html" %}
  {% endif %}
  
  <div class="container px-5 py-4">
    <div class="table-responsive border">
      <table class="table">
        <tr>
          <td class="fw-bold">Número do Pedido</td>
          <td>{{pedido.id}}</td>
        </tr>
        <tr>
          <td class="fw-bold">Usuario</td>
          <td>{{pedido.usuario.nome}}</td>
        </tr>
        <tr>
          <td class="fw-bold">Data da Compra</td>
          <td>{{pedido.data_pedido|date:"d/m/Y"}} às {{pedido.data_pedido|time:"H:i"}}</td>
        </tr>
        <tr>
          <td class="fw-bold">Valor Total</td>
          <td>R$ {{pedido.valor_total}}</td>
        </tr>
        <tr>
          <td class="fw-bold">Metodo de Pagamento</td>
          <td>{{pedido.metodo_de_pagamento}}</td>
        </tr>
        <tr>
          <td class="fw-bold">Quantidade de Parcelas</td>
          <td>{{pedido.parcelas}}</td>
        </tr>
        <tr>
          <td class="fw-bold">Status do Pagamento</td>
          <td>{{pedido.status}}</td>
        </tr>
        <tr>
          <td class="fw-bold">Data da última atualização</td>
          <td>{{pedido.data_ultima_atualizacao_pedido|date:"d/m/Y"}} às {{pedido.data_ultima_atualizacao_pedido|time:"H:i"}}</td>
        </tr>
     </table>
   </div>
    
    <div class="table-responsive">
      <table class="table table-striped border">
        <thead>
          <tr>
            <th scope="col">Produto</th>
            <th scope="col">Quantidade</th>
          </tr>
        </thead>

        <tbody>
          {% for item in itens %}
          <tr>
            <td>{{item.produto}}</td>
            <td>{{item.quantidade}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% if pedido.mensagem_de_erro %}
      <div class="container my-3">
        <p><b>Erro do pedido:</b></p>
        {{pedido.mensagem_de_erro}}
      </div>
    {% endif %}

    {% if pedido.link_pagamento %}
      <div class="container my-3 text-center">
        <p><b>Clique no botão para pagar:</b></p>
        <a href={{pedido.link_pagamento}} target="_blank" rel="noopener noreferrer">
          <button class="btn">Pagar</button>
        </a>
      </div>
    {% endif %}
  </div>
</div>


{% endblock %} 
