{% extends 'base.html' %}
{% load static %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 

{% endblock %}

{% block 'body' %}

<div class="container p-5 my-5 border">
    <h2 class="text-center mb-4">Perfil do Usuário:</h2>
    <div class="table-responsive">
      <table class="table">
          
          <tr>
            <td class="fw-bold">Nome</td>
            <td>{{usuario.nome}}</td>
          </tr>
          <tr>
            <td class="fw-bold">Usuário</td>
            <td>{{usuario.usuario}}</td>
          </tr>
          <tr>
            <td class="fw-bold">Celular</td>
            <td>{{usuario.celular.as_national}}</td>
          </tr>
          <tr>
            <td class="fw-bold">CPF</td>
            <td>{{usuario.cpf}}</td>
          </tr>
          <tr>
            <td class="fw-bold">Data de Nascimento</td>
            <td>{{usuario.data_de_nascimento|date:"d/m/Y"}}</td>
          </tr>
          <tr>
            <td class="fw-bold">Endereço</td>
            <td>{{usuario.endereco}}</td>
          </tr>
          <tr>
            <td class="fw-bold">Número</td>
            <td>{{usuario.numero_endereco}}</td>
          </tr>
          {% if usuario.complemento %}
          <tr>
            <td class="fw-bold">Complemento</td>
            <td>{{usuario.complemento}}</td>
          </tr>
          {% endif %}
          <tr>
            <td class="fw-bold">Bairro</td>
            <td>{{usuario.bairro}}</td>
          </tr>
          <tr>
            <td class="fw-bold">Cidade</td>
            <td>{{usuario.cidade}}</td>
          </tr>
          <tr>
            <td class="fw-bold">Estado</td>
            <td>{{usuario.get_estado_display}}</td>
          </tr>
      </table>
    </div>
</div>

<div class="container p-5 mb-5 border">
  <h2 class="text-center mb-4">Histórico de Pedidos:</h2>
  <div class="table-responsive">
    <table class="table table-striped border">
      <thead>
        <tr>
          <th scope="col">Número</th>
          <th scope="col">Data</th>
          <th scope="col">Valor</th>
          <th scope="col">Pagamento</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for pedido in pedidos %}
          <tr onclick="window.location='{% url 'ver_pedido' pedido.id %}'" style="cursor: pointer;">
            <td>{{pedido.id}}</td>
            <td>{{pedido.data_pedido|date:"d/m/Y"}}</td>
            <td>{{pedido.valor_total}}</td>
            <td>{{pedido.metodo_de_pagamento}}</td>
            <td>{{pedido.status}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
    
<div class="container p-5 mb-5 border">
    <h2 class="text-center mb-4">Histórico de Alterações:</h2>
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Data</th>
          <th>Hora</th>
          <th>Informação</th>
        </tr>
        <tr>
          <td>{{usuario.usuario.date_joined|date:"d/m/Y" }}</td>
          <td>{{ usuario.usuario.date_joined|time:"H:i" }}</td>
          <td>Conta criada</td>
        </tr>
        {% for registro in registros %}
        <tr>
          <td>{{registro.data_atualizacao|date:"d/m/Y"}}</td>
          <td>{{registro.data_atualizacao|time:"H:i"}}</td>
          <td>{{registro.detalhes}}</td>
        </tr>
        {% endfor %}
      </table>
    </div> 
    <p class="mt-3"><b>DATA DO ULTIMO LOGIN:</b> {{usuario.usuario.last_login|date:"d/m/Y" }} às {{ usuario.usuario.last_login|time:"H:i" }}</p>
  </div>
</div>


{% endblock %}