{% load static %}
{% load filtros %}
{% load permission_tags %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'title' %}Pytudo{% endblock%}</title>
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- custom css -->
    <link href="{% static 'base/css/base.css' %}" rel="stylesheet">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'base\img\shopping-bag-icon.png' %}">
    {% block 'head' %} {% endblock%}
  </head>
  <body>
    <!-- navbar -->
    <nav>
        <div class="container-fluid barra">
            <div class="row h-100">
                <div class="col-md-3 col-sm-6 col-3 order-1 d-flex">
                    <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
                        <span class="d-flex justify-content-center align-items-center bs-icon-sm bs-icon-rounded bs-icon-primary me-1 bs-icon">
                            <img src="{% static 'base\img\shopping-bag-icon.png' %}" alt="site icon">
                        </span>
                        <span>
                            <span class="text-uppercase fw-lighter ms-1">
                                Pytudo
                            </span>
                        </span>
                    </a>
                </div>
                
                <div class="col-md-6 col-12 order-md-2 order-3 d-flex align-items-center justify-content-center">
                    <form class="input-group" action="{% url 'listar_produtos' %}" method="GET" style="width: 80%;">
                        <div class = "input-group mb-3 mt-3">
                            <input type = "text" name="nome" class = "form-control" placeholder="Pesquise aqui:">
                            <button class = "btn"  type = "submit"><i class = "fa fa-search"></i></button>
                        </div>
                    </form>
                </div>

                <div class="col-md-3 col-sm-6 col-9 order-md-3 order-2 d-flex align-items-center justify-content-end">
                    <div class="nav-btns">
                        <div class="dropdown">
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="PainelDropdown">
                            {% if request.user|has_role:"gerente" %}
                                <li><a class="dropdown-item" href="{% url 'painel_controle' %}">Painel de controle</a></li>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                                <li><a class="dropdown-item" href="{% url 'perfil_usuario' %}">Perfil</a></li>
                                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Deslogar</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{% url 'account_login' %}">Entrar</a></li>
                            {% endif %}
                            </ul>
                        </div>

                        <button class="btn position-relative" type="button">
                            <a href ="{% url 'ver_lista_desejo' %}"><i class ="fa fa-heart"></i></a>
                            {% if num_lista_desejo|default:False %}
                                <span class = "position-absolute top-0 start-100 translate-middle badge" style="background: #e5345b;">{{num_lista_desejo}}</span>
                            {% endif %}
                        </button>
                        <button class="btn position-relative" type="button">
                            <a href ="{% url 'carrinho' %}"><i class ="fa fa-shopping-cart"></i></a>
                            {% with carrinho_session=request.session.carrinho|default:False %}
                                {% if carrinho_session %}
                                    <span class = "position-absolute top-0 start-100 translate-middle badge" style="background: #e5345b;">{{carrinho_session|total_itens}}</span>
                                {% endif %}
                            {% endwith %}
                        </button>
                        <button class="btn position-relative dropdown-toggle" id="PainelDropdown" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-address-card" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {% with categorias=categorias|default:0 %}
        {% if categorias %}
            <div class="container-fluid d-flex justify-content-center" style="background: #e5345b;">
                <div class="dropdown dropdown-center" style="width: 130px;">
                    <a class="text-uppercase nav-link text-dark dropdown-toggle" id="categoriasDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                        Categorias 
                    </a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="categoriasDropdown">
                        {% for categoria in categorias %}
                            <li><a class="dropdown-item" href="{% url 'listar_produtos' %}?categoria={{categoria.id}}">{{ categoria }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% endwith %}
    </nav>
    
    
  <!-- end of navbar -->

    {% if messages %}
        {% for message in messages %}
            <section class="alert {{message.tags}}">
                {{message}}
            </section>
        {% endfor %}
    {% endif %}

    {% block 'body' %}
    
    {% endblock%}

    <!-- footer -->
    <footer class = "bg-dark py-5">
      <div class = "container">
          <div class = "row text-white g-4">
              <div class = "col-md-6 col-lg-3 ps-2 pe-2">
                  <a class = "text-uppercase text-decoration-none brand text-white" href ="{% url 'home' %}">Pytudo</a>
                  <p class = "text-white text-muted mt-3">Loja virtual completa!</p>
                  <p class = "text-white text-muted mt-3">Tudo o que você procura em um só lugar e a um clique de distância!</p>
              </div>

              <div class = "col-md-6 col-lg-3 ps-2 pe-2">
                  <h5 class = "fw-light">Links</h5>
                  <ul class = "list-unstyled">
                      <li class = "my-3">
                          <a href = "{% url 'home' %}" class = "text-white text-decoration-none text-muted">
                              <i class = "fas fa-chevron-right me-1"></i> Home
                          </a>
                      </li>
                      <li class = "my-3">
                          <a href = "#" class = "text-white text-decoration-none text-muted">
                              <i class = "fas fa-chevron-right me-1"></i> Parceiros
                          </a>
                      </li>
                      <li class = "my-3">
                          <a href = "#" class = "text-white text-decoration-none text-muted">
                              <i class = "fas fa-chevron-right me-1"></i> Portifólio
                          </a>
                      </li>
                      <li class = "my-3">
                          <a href = "#" class = "text-white text-decoration-none text-muted">
                              <i class = "fas fa-chevron-right me-1"></i> Sobre nós
                          </a>
                      </li>
                  </ul>
              </div>

              <div class = "col-md-6 col-lg-3 ps-2 pe-2">
                  <h5 class = "fw-light mb-3">Contatos</h5>
                  <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                      <span class = "me-3">
                          <i class = "fas fa-map-marked-alt"></i>
                      </span>
                      <span class = "fw-light">
                          Rua Francisco Floreani, 116 Vila Ema, São Paulo, SP
                      </span>
                  </div>
                  <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                      <span class = "me-3">
                          <i class = "fas fa-envelope"></i>
                      </span>
                      <span class = "fw-light">
                          marcosfacini5@gmail.com
                      </span>
                  </div>
                  <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                      <span class = "me-3">
                          <i class = "fas fa-phone-alt"></i>
                      </span>
                      <span class = "fw-light">
                          11 94724-8323
                      </span>
                  </div>
              </div>

              <div class = "col-md-6 col-lg-3 ps-2 pe-2">
                  <h5 class = "fw-light mb-3">Redes Sociais</h5>
                  <div>
                      <ul class = "list-unstyled d-flex">
                          <li>
                              <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                                  <i class = "fab fa-facebook-f"></i>
                              </a>
                          </li>
                          <li>
                              <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                                  <i class = "fab fa-twitter"></i>
                              </a>
                          </li>
                          <li>
                              <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                                  <i class = "fab fa-instagram"></i>
                              </a>
                          </li>
                          <li>
                              <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                                  <i class = "fab fa-pinterest"></i>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <!-- end of footer -->


   
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {% block scripts %}
    
    {% endblock %}
    
  </body>
</html>