{% extends 'base.html' %}
{% load static %}

{% block 'title' %}PYTudo{% endblock %}

{% block 'head' %} 
    <link href="{% static 'base/css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

<!-- banner interativo --> 
{% if banners %}
<header id="header" class="carousel slide carousel-dark slide" data-bs-ride="carousel" >
    <div class="container h-100 d-flex align-items-center carousel-inner">
        {% for image in banners %}
            <div class="text-center carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ image.imagem.url }}" alt="Banner Image" class="carousel-image">
                <div class="carousel-caption">
                    <h1 class="text-uppercase py-2 fw-bold text-white">{{ image.titulo }}</h1>
                    <h2 class="text-capitalize text-white">{{ image.subtitulo }}</h2>
                </div>
            </div>
        {% endfor %}
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#header" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#header" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</header>
{% endif %}
<!-- fim do banner interativo -->


<!-- produtos da home -->
<section class = "py-5">
    <div class = "container">
        <div class = "title text-center py-5">
            <h2 class = "position-relative d-inline-block">Principais Ofertas</h2>
        </div>

        <div class = "special-list row g-0">
            {% for produto in produtos %}
            <div class = "col-md-6 col-lg-4 col-xl-3 p-2">
                <a href="{% url 'ver_produto' produto.produto.id %}">
                <div class = "special-img d-flex justify-content-center align-items-center p-2 border-start border-end border-top border-2 rounded-top">
                    {% if produto.produto.imagem_principal %}
                        <img src="{{produto.produto.imagem_principal.url}}" >
                    {% else %}
                        <img src="{% static 'produtos\img\sem foto.jpg' %}" >
                    {% endif %}
                </a>
                </div>
                <div class = "text-center ps-3 pe-3 pb-3 pt-1 border-start border-end border-bottom border-2 rounded-bottom">
                    <p class = "text-capitalize mb-1 d-flex justify-content-center align-items-center" style="height: 50px;">{{produto.produto.nome}}</p>
                    <span class = "fw-bold d-block">$ {{produto.produto.preco}}</span>
                    <a href ="{% url 'ver_produto' produto.produto.id %}" class = "btn mt-2">Comprar</a>
                </div>
            </div>
        
            {% endfor %}
        </div>
    </div>
</section>
<!-- fim dos produtos da home -->


<!-- newsletter -->
<section id = "newsletter" class = "py-5">
    <div class = "container">
        <div class = "d-flex flex-column align-items-center justify-content-center">
            <div class = "title text-center pt-3 pb-5">
                <h2 class = "position-relative d-inline-block ms-4">Se Inscreva:</h2>
            </div>

            <p class = "text-center text-muted">Receba ofertas imperdíveis antes que todo mundo!</p>
            <div class = "input-group mb-3 mt-3">
                <input type = "text" class = "form-control" placeholder="Email:">
                <button class = "btn btn-primary" type = "submit">Inscrever</button>
            </div>
        </div>
    </div>
</section>
<!-- end of newsletter -->
    
{% endblock %}

